<section class="contac-form">
<h2 class="contact-form__title">+Diligencie los datos y contactenos</h2>
<form class="contact-form__form">
<div class="contact-form__row">
    <label class="contac-form__label">
        Nombre
        <input type="text" class="contact-contac__input" placeholder="Ingrese su Nombre" required>
    </label>
    <label class="contac-form__label">
        Telefóno
        <input type="tel" class="contact-contac__input" placeholder="Ingrese su Numero de Telefono" required>
    </label>
    <label class="contac-form__label">
        Correo Electrónico
        <input type="email" class="contact-contac__input" placeholder="Ingrese su Correo Electronico" required>
    </label>
    
    <label class="contac-form__label">
        Mensaje
        <textarea name="mensaje"  type="email" class="contact-contac__input" placeholder="Ingrese su mensaje aqui..." required></textarea>
    </label>

    <button type="submit" class="contact-form__button">Enviar</button>
</div>

</form>   




</section>