.contact-form{
    background-color: var(--gray-600);
    padding: 24px;
    border-radius: 2px;
    max-width: 712px;
    margin: auto;
    display: grid;
    gap: 24px;
}

.contact-form__title{
    text-align: center;
    color: var(--terciary-200);
    font-size: var(--fs-sm);

}

.contact-form__form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px
}

.contact-form__row{
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px
}

.contact-form__label{
        display: grid;
        gap: 4px;
        font-size: var(--fs-xxxs);
        color: var(--white)
    }

    .contact-form__input{
        padding: 16px;
        border-radius: 2px;
        border: none;
        width: 100%;
        font-size: var(--fs-xs);

    }

    .contact-form__textarea{
        min-height: 100px;
        /* permite la redimension en vertical, si no se coloca la redimension es permitida a cualquier lado */
        resize: vertical;
    }

    .contact-form__input ::placeholder,
    .contact-form__textarea::placeholder{
        color: var(--gray-300);
        font-size: var(--fs-xs);        
    }

    .contact-form__button{
        justify-self: center;
        padding: 12px 24px;
        background-color: var(--white);
        /* border: none; */
        border-radius: 4px;
        cursor: pointer;
        border: 2px solid var(--black);
        font-size: var(--fs-sm)

    }


@media (width > 768px){
    .contact-form__row{
        grid-template-columns: 1fr 1fr;
    }

    


}