.header {
    /* display: grid;
    grid-template-columns: repeat(1fr, 1); */
    position: fixed;
    /* Posicion fija */
    top: 0;
    /* Altura Total*/
    width: 100%;
}


.navbar__title {
    margin: 0;
    padding: 12px;
    font-size: var(--fs-md);
    text-align: center;
}

.navbar__subtitle {
    font-size: var(--fs-xs);
    color: var(--gray-700);
}

.navbar {
    display: flex;
    flex-direction: column;
    /* Direccion de los elementos */
    margin: 0 auto;
    /* Este peagdo a la margen y utilice automaticamente el ancho*/
    width: 100%;
    background-color: var(--primary-900);
}

/* Mobile firts */
.navbar__items {
    width: 100%;
}


.navbar__link {
    display: block;
    text-align: center;
    padding: 0.8rem;
    text-decoration: none;
    /* Elimina el decorador de las refencias*/
    color: var(--white);
    /* Tamaño de la fuente */
    font-size: var(--fs-xs);
    /* Efecto*/
    transition: color 0.3s ease;    
}


.navbar__link:hover {
    color: var(--secundary-950);
}

p {
    font-size: var(--fs-md);
}

.navbar__list {
    flex-direction: column;
    gap: 0;
    width: 100%;
    list-style: none;
}

/* Determinar el estilo responsive de la lista de la barra */
@media (width > 768px) {


    .navbar__list {
        list-style: none;
        /* Elimina los puentos de la lista de elementos*/
        padding: 4px;
        margin: 0;
        display: flex;
        flex-direction: row;
        /* Elementos en linea a lo horizontal*/
        gap: 40px;
        /* Separacion de elementos */
        flex-grow: 1;
        justify-content: space-evenly;
        /* Separacion uniforme a lo ancho del elemento segun el total de los elementos*/
        /*font-size: var(--fs-xs);*/
    }





}