.header {
    /* display: grid;
    grid-template-columns: repeat(1fr, 1); */
    position: fixed;
    /* Posición fija */
    top: 0;
    /* Altura Total*/
    width: 100%;
}


.navbar__title {
    margin: 0;
    padding: 12px;
    font-size: var(--fs-xs);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.navbar__subtitle {
    font-size: var(--fs-xxs);
    color: var(--gray-700);
}

.navbar {
    display: flex;
    flex-direction: column;
    /* Dirección de los elementos */
    margin: 0 auto;
    /* Este pegado a la margen y utilice automáticamente el ancho*/
    width: 100%;
    background-color: var(--primary-900);
}

/* Mobile firts */
.navbar__items {
    width: 100%;
}


.navbar__link {
    display: block;
    text-align: center;
    padding: 0.8rem;
    text-decoration: none;
    /* Elimina el decorador de las referencias*/
    color: var(--white);
    /* Tamaño de la fuente */
    font-size: var(--fs-xxxs);
    /* Efecto*/
    transition: color 0.3s ease;    
}


.navbar__link:hover {
    color: var(--secundary-950);
}


p {
    font-size: var(--fs-md);
}

.navbar__list {
    flex-direction: column;
    gap: 0;
    width: 100%;
    list-style: none;
    padding: 4px;
    font-size: var(--fs-xxs);
}

/* Determinar el estilo responsive de la lista de la barra */
@media (width > 768px) {

    .navbar__list {
        list-style: none;
        /* Elimina los puntos de la lista de elementos*/
        padding: 4px;
        margin: 0;
        display: flex;
        flex-direction: row;
        /* Elementos en linea a lo horizontal*/
        /* gap: 60px; */
        /* Separación de elementos */
        flex-grow: 1;
        justify-content: space-evenly;
        /* Separación uniforme a lo ancho del elemento según el total de los elementos*/        
    }

    .navbar__link {    
    font-size: var(--fs-xs);
    
}

.navbar__title {
    font-size: var(--fs-md);    
}

.navbar__subtitle {
    font-size: var(--fs-xs);
    /* color: var(--gray-700); */
}


}